@using Microsoft.AspNetCore.Authentication.AzureADB2C.UI
@using Microsoft.Extensions.Options
@using PlayFabLoginWithB2C.Services
@inject IOptionsMonitor<AzureADB2COptions> AzureADB2COptions

@{
    var options = AzureADB2COptions.Get(AzureADB2CDefaults.AuthenticationScheme);
    var playFabId = User.Claims.FirstOrDefault(c => c.Type == PlayFabClaims.PlayFabId)?.Value;
}


<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
        @if (!string.IsNullOrEmpty(options.EditProfilePolicyId))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="EditProfile">
                    <span>Hello @User.Identity.Name!</span>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                @if (!string.IsNullOrEmpty(playFabId))
                {
                    <span class="navbar-text">Hello @User.Identity.Name (PlayFabID @playFabId)!</span>
                }
                else
                {
                    <span class="navbar-text">Hello @User.Identity.Name!</span>
                }
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
}
</ul>
